.main-container {
    padding: 50px 0;
}
.grid-space-10 {
    margin-right: -6px;
    margin-left: -6px;
}
.block {
    margin-bottom: 50px;
}
.margin-clear {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
h6.media-heading {
    margin-bottom: 5px;
}
hr {
    border-color: #eee;
}
.pr-10 {
    padding-right: 10px;
}
.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333333;
    text-decoration: none;
}